<section>
  <h2>Add New Topic</h2>

  <form class="new-post-form">
    <div>
      <input placeholder="Add Topic" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <input class="bodyInput" placeholder="Add Content for your topic, start a conversation!" id="post-body" name="post-body" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
    <ul>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </ul>
    {{/each}}
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>